target/
!.mvn/wrapper/maven-wrapper.jar
.env
Procfile

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/mvn_install.bat
data/node_modules/.bin/semver
node_modules/